body {
  background-color: #ffffff;
  margin: 0px !important;
  padding: 0px !important;
}
main {
  border: 3px solid #000000;
}
h1 {
  color: #ffffff;
  font-size: 4rem;
  margin: 0;
}
#title-background-header {
  background-color: #fa003f;
  border-radius: 0px 200px 200px 200px;
  -moz-border-radius: 0px 200px 200px 200px;
  -webkit-border-radius: 0px 200px 200px 200px;
  border: 3px solid #000000;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 15px;
}
#title-background-card {
  background-color: #fa003f;
  border-radius: 0px 200px 200px 200px;
  -moz-border-radius: 0px 200px 200px 200px;
  -webkit-border-radius: 0px 200px 200px 200px;
  border: 3px solid #000000;
  padding: 5px;
}
#title-recipe-section {
  background-color: #fa003f;
  border-radius: 0px 200px 200px 200px;
  -moz-border-radius: 0px 200px 200px 200px;
  -webkit-border-radius: 0px 200px 200px 200px;
  border: 3px solid #000000;
  padding: 5px;
  width: fit-content;
  color: #ffffff;
  margin: auto;
}
#decision {
  color: #ffffff;
  width: 100%;
  margin-top: -30px;
  margin-left: 5px;
  font-size: medium;
}
#decision-container {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
}
.divider {
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 999px;
  height: 3px;
}
.material-icons {
  line-height: 110%;
}
/* form styling */
option {
  color: #ee6123;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #fa003f;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* General Card Styling */
.card {
  margin-top: 20px;
}
.card
  .card-action
  a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #fa003f;
}
/* Styling for the desktop cards */
.horizontal-image {
  border: 3px solid #000000;
  border-right: 0px;
  object-fit: cover;
  height: 100%;
  overflow: hidden;
}
/* Styling for the mobile/tablet cards */
.card-stacked {
  border: 3px solid #000000;
  color: #000000;
}
.vertical-card {
  color: #000000;
  border: 3px solid #000000;
}
.vertical-content {
  border-top: 3px solid #000000;
}
/* Button Styling */
.btn,
.btn-large,
.btn-small {
  background-color: #fa003f;
  border-radius: 999px;
  border-width: 3px;
  border-color: #000000;
  margin-left: 10px;
  border: 3px solid #000000;
  line-height: 0px;
}
.btn:focus,
.btn-large:focus,
.btn-small:focus,
.btn-floating:focus {
  background-color: #ee6123;
}
.btn:active,
.btn-large:active,
.btn-small:active,
.btn-floating:active {
  background-color: #ee6123;
}
.btn:hover,
.btn-large:hover,
.btn-small:hover,
.btn-floating:hover {
  background-color: #ee6123;
}
#recipesSection {
  padding: 30px;
}

/* Video Background */
@media (min-aspect-ratio: 16/9) {
  #myVideo {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #myVideo {
    position: fixed;
    right: 0;
    top: 0;
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #myVideo {
    display: none;
  }
  body {
    background: url("poster.jpg");
    background-size: cover;
  }
}
.background-overlay {
  position: relative;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 9%,
    rgba(255, 255, 255, 0.7343312324929971) 50%,
    rgba(255, 255, 255, 1) 91%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 9%,
    rgba(255, 255, 255, 0.7343312324929971) 50%,
    rgba(255, 255, 255, 1) 91%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 9%,
    rgba(255, 255, 255, 0.7343312324929971) 50%,
    rgba(255, 255, 255, 1) 91%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  width: 100%;
  padding: 20px;
}
/* Styling for the Youtube Video */
.video-card {
  color: #000000;
  border: 3px solid #000000;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
iframe {
  border: 3px solid #000000;
}
